nav {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

nav input {
    width: 30%;
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 6px;
    background: url('/images/lupa.png') no-repeat right 10px center ;
}

nav input:focus {
    outline: none;
    border-color: #1C73E8;
}